.home-container {
    margin: 0 auto;
    width: 70%;
}

h1 {
    text-align: center;
    margin: 25px 0 10px 0;
    font-size: 35px;
    color: #920000;
}

@media (max-width: 750px) {
    .home-container {
        width: 95%;
    }
}

.home-container .grid {
    display: grid;
    gap: 2em;
}

@media (min-width: 800px) {
    .home-container .grid {
        grid-template-columns: repeat(1, 800px);
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    .home-container .grid {
        grid-template-columns: repeat(2, 500px);
        align-content: center;
        justify-content: center;
    }
}