/* -- Barra de Navegação -- */
.img-logo{
    height: 45px;
    width: 195px;
    display: block;
    background: url('../../assets/marca.png') no-repeat;
    background-size: contain;
    color: transparent;
}

.nav-container {
    width: 100%;
    margin: 0 auto;
    background: rgb(255, 0, 0)!important;
    padding: 30px 0px;
}

.navbar-pinty-delivery{
    margin: 0 auto;
    max-width: 1100px;
    border: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.bg-light .navbar-toggler {
    /* border-color: #fff; */
    border: none;
} 

.navbar-brand{
    padding: 5px 15px;
}

.divisor{
    width: 1px;
    height: 25px;
    background: black;
    margin: 12px 25px;
}

.navbar-light .navbar-nav .nav-link, footer a {
    color: #fff;
    transition: color 0.3s;
    font-weight: bold;
}

.logo {
    padding: 0;
    margin-right: 25px;
    cursor: pointer;
} 

.registerButton {
    border: 1px solid transparent;
        
    &:hover {
        border: 1px solid #fff;
        transition: border .3s ease-out;
        border-radius: 10px;

        color: #fff;
    }
}

.categoriesDropdown {
    margin-left: auto;
    margin-right: 0;
    
    .dropdown {
        border: 1px solid transparent;
        
        &:hover {
            border: 1px solid #fff;
            transition: border .3s ease-out;
            border-radius: 10px;
        }
        
        .show {
            border-radius: 10px;
            border: 1px solid #fff;
        }
    }
}

.searchContent {
    display: flex;
    gap: 10px;
    margin-left: 0;
    margin-right: 0;

    .btn {
        background: transparent;
        border: 1px solid #fff;
        transition: border .3s ease;
        
        &:hover {
            border: 1px solid transparent;
            transition: border .3s ease-out;
        }
    }

    .searchInput {
        background: none;
        border: none;
        color: #fff;
        border-bottom: 1px solid #fff;
        height: 90%;
        width: 95%;
        transition: background .3s ease-out;

        &:hover {
            border: none;
            background: rgba(255, 255, 255, 0.75);
            transition: background .3s ease-out;
        }

        &:focus {
            border: none;
            background: rgba(255, 255, 255, 0.55);
            color: #920000;
            border-bottom: 1px solid #fff;
            outline: none;
            box-shadow: none;
        }

        &::placeholder {
            color: #fff;
            font-weight: bold;
        }
    }
}
/* 
@media (min-width: 1750px) {
    .navbar-pinty-delivery{
        padding: 25px 250px;
    }
}

@media (min-width: 1500px) {
    .navbar-pinty-delivery{
        padding: 25px 225px;
    }
}

@media (min-width: 1250px) {
    .navbar-pinty-delivery{
        padding: 25px 200px;
    }
}

@media (min-width: 1000px) {
    .navbar-pinty-delivery{
        padding: 25px 175px;
    }
}

@media (min-width: 766px) {
    .navbar-pinty-delivery{
        padding: 25px 100px;
    }
} */