/* -- Barra de Navegação -- */
.img-logo{
    height: 45px;
    width: 195px;
    display: block;
    background: url('../../assets/marca.png') no-repeat;
    background-size: contain;
    color: transparent;
}

.navbar-pinty-delivery{
    padding: 15px 25px;
    /* background: rgb(245, 245, 245)!important; */
    background: rgb(255, 0, 0)!important;
    border: none;
    font-size: 20px;
}

.bg-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.bg-light .navbar-toggler {
    /* border-color: white; */
    border: none;
} 

.navbar-brand{
    padding: 5px 15px;
}

.divisor{
    width: 1px;
    height: 25px;
    background: black;
    margin: 12px 25px;
}

.navbar-light .navbar-nav .nav-link, footer a {
    color: white;
    transition: color 0.3s;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover, footer a:hover {
    color: #920000;
    background: none;
}

.item-dropdown {
    color: red!important;
}

.input-busca {
    background: none;
    border: none;
    color: white;
    border-bottom: 1px solid white;
    margin-left: 25px;
    height: 90%;
    width: 95%;
}

.input-busca:hover {
    background: rgba(255, 255, 255, 0.75);
    border: none;
}

.input-busca:focus {
    background: rgba(255, 255, 255, 0.55);
    border: none;
    color: #920000;
    border-bottom: 1px solid white;
    outline: none;
    box-shadow: none;
}

.input-busca::placeholder {
    color: white;
    font-weight: bold;
}

@media (min-width: 1750px) {
    .navbar-pinty-delivery{
        padding: 25px 250px;
    }
}

@media (min-width: 1500px) {
    .navbar-pinty-delivery{
        padding: 25px 225px;
    }
}

@media (min-width: 1250px) {
    .navbar-pinty-delivery{
        padding: 25px 200px;
    }
}

@media (min-width: 1000px) {
    .navbar-pinty-delivery{
        padding: 25px 175px;
    }
}

@media (min-width: 766px) {
    .navbar-pinty-delivery{
        padding: 25px 100px;
    }
}