/* -- Barra de Navegação -- */
.img-logo{
    height: 45px;
    width: 195px;
    display: block;
    background: url('../../assets/marca.png') no-repeat;
    background-size: contain;
    color: transparent;
}

.navbar-pinty-delivery{
    padding: 15px 25px;
    /* background: rgb(245, 245, 245)!important; */
    background: rgb(255, 0, 0)!important;
    border: none;
    font-size: 20px;
}

.navbar-brand{
    padding: 5px 15px;
}

.divisor{
    width: 1px;
    height: 25px;
    background: black;
    margin: 12px 25px;
}

.navbar-light .navbar-nav .nav-link, footer a {
    color: white;
    transition: color 0.3s;
}

.navbar-light .navbar-nav .nav-link:hover, footer a:hover {
    color: #920000;
    background: none;
}

.item-dropdown {
    color: red!important;
}

.input-busca {
    background: none;
    border: none;
    color: white;
    border-bottom: 1px solid white;
    margin-left: 25px;
    height: 90%;
    width: 95%;
}

.input-busca:hover {
    background: rgba(255, 255, 255, 0.75);
    border: none;
}

.input-busca:focus {
    background: rgba(255, 255, 255, 0.55);
    border: none;
    color: #920000;
    border-bottom: 1px solid white;
    outline: none;
    box-shadow: none;
}

.input-busca::placeholder {
    color: white;
}